{% extends '../_base.html' %}

{% block title %}{{ _('JsonFormat') }}{% endblock %}

{% block head %}
<link href="/static/css/boots.css" rel="stylesheet" type="text/css"/>
<link href="/static/css/tools/jsonformat.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<div class="HeadersRow col-xs-3 mt10">
    <textarea id="RawJson" onchange="Process()" style="height:1000px;">
    </textarea>
</div>
<div id="ControlsRow col-xs-9">
    <input class="btn btn-primary btn-xs" onclick="Process()" type="Button" value="格式化"/>
    <span id="TabSizeHolder">
        tab大小:
        <select id="TabSize" onchange="TabSizeChanged()">
            <option value="1">
                1
            </option>
            <option selected="true" value="2">
                2
            </option>
            <option value="3">
                3
            </option>
            <option value="4">
                4
            </option>
            <option value="5">
                5
            </option>
            <option value="6">
                6
            </option>
        </select>
    </span>
    <label for="QuoteKeys">
        <input checked="true" id="QuoteKeys" onclick="QuoteKeysClicked()" type="checkbox"/>
        键引号
    </label>
    <a href="javascript:void(0);" onclick="SelectAllClicked()">
        选择全部
    </a>
    <span id="CollapsibleViewHolder">
        <label for="CollapsibleView">
            <input checked="true" id="CollapsibleView" onclick="CollapsibleViewClicked()" type="checkbox"/>
            收缩视图
        </label>
    </span>
    <span id="CollapsibleViewDetail">
        <a href="javascript:void(0);" onclick="ExpandAllClicked()">
            展开全部
        </a>
        <a href="javascript:void(0);" onclick="CollapseAllClicked()">
            收缩全部
        </a>
        <a href="javascript:void(0);" onclick="CollapseLevel(3)">
            层级 2+
        </a>
        <a href="javascript:void(0);" onclick="CollapseLevel(4)">
            层级 3+
        </a>
        <a href="javascript:void(0);" onclick="CollapseLevel(5)">
            层级 4+
        </a>
        <a href="javascript:void(0);" onclick="CollapseLevel(6)">
            层级 5+
        </a>
        <a href="javascript:void(0);" onclick="CollapseLevel(7)">
            层级 6+
        </a>
        <a href="javascript:void(0);" onclick="CollapseLevel(8)">
            层级 7+
        </a>
        <a href="javascript:void(0);" onclick="CollapseLevel(9)">
            层级 8+
        </a>
    </span>
</div>
<div class="Canvas" id="Canvas">
</div>
<script type="text/javascript" src="/static/js/jsonFormatter.min.js"></script>
<script type="text/javascript" src="/static/js/tools/jsonformat.js"></script>
{% endblock %}
