.threat-detail-top-info span{font-size:14px; vertical-align: middle;}
.threat-detail-top-info span.icon{font-size:22px; color:#6e7d83; vertical-align: middle;}

.threat-app-item{border-bottom:dotted 1px #dedede; line-height:30px;}
.threat-app-item-title{}

.panel-title a:hover{text-decoration: none; color:#333;}